 
   
.coloradd1 {
    background-color: #0560FD;
    height: 60px;
}

.image2 {
    margin-left: 10px;
    height: 100px;
    width: 185px;
    margin-top: 9px;
}

.img-fluid3 {
    max-width: 100%;
    height: auto;
    display: block!important;
}
.landing-icon {
    color: #357ca3;
    font-size: 3em;
    /* //background: #2c2c2c; */
    z-index: 1000;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    top: 46px;
    right: 0;
    bottom: 0;
    width: 50px;
    left: 0;
    height: 50px;
    margin: 0 auto;
  }



 

