/* The Modal (background) */
/* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 250px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0,0,0,0.4); 
    
  } */
  
  /* Modal Content */
  /* .modal-content {
    background-color: #6610f2;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  } */
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: -6px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* .modal-header {
    padding: 2px 16px;
    border:none !important;
    color: white;

  }
  
  .modal-body {padding: 2px 16px;
    color: white;
}
  
  .modal-footer {
    padding: 2px 16px;
    border:none !important;
    color: white;

  } */
  .signup-btn {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0F1031;
	text-transform: uppercase;
	opacity: 1;
	background: #CB9831;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	border: 1px solid #cb9831;
	cursor: pointer;
	padding:10px 25px;
	margin-top:20px;
}

.userName{
    padding-top: 30px;
    padding-bottom: 30px 
}
.description {
    padding-bottom: 30px 

}
.headding {
    color: white;
    margin-left: 20px;
    padding:10px
}
.carditem {
  box-shadow: 0px 0px 0px 0px;
  border-radius: 25px 25px 25px 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.img_fluid1{
  float:left;
  width:170px;
  height:100px;
  margin-top: -26px;
  margin-left: 10px;
  font-size: 16px
  /* //font: weight 400px; */

    
}


.header-item {
  background-color: #0560FD;
  border-radius: 25px 25px 0px 0px;
}
.user-img{
  padding-left: 0px;
padding-top:5px 
 
}

.main-header {
  background-color: #0560FD;
  /* background: transparent linear-gradient(92deg, #0F1031 0%, #363794 100%, #000000 100%) 0% 0% no-repeat padding-box; */
  padding: 1px;
  height:72px
}
.align {
  text-align: left;
}
.activemail-modal-header{
  border-bottom: none !important;
}
.activemail-modal-footer {
  border-top: none !important;
}
.activemail-modal {
  border-radius: 1rem!important;
}
.modal-content{
  border-radius: 1rem!important;
}

.activation-dialog-classname {
  display: block; 
  width: 500px; 
  margin-top:150px
 
}

