.document_intial {
    width: 95%;
    height: 100% !important;
    ;
    padding: 1rem 0;
    margin: 0 auto;
    position: inherit !important;
}

.subdocument_intial {
    width: 95%;
    height: auto;
    padding: 1rem 0;
    margin: 0 auto;
    position: inherit !important;
}

.document_intial .react-pdf__Page__canvas {
    width: 95% !important;
    height: 100% !important;
    /* padding: 1rem 0 !important; */
    margin: 0 auto !important;
}

.subdocument_intial .react-pdf__Page__canvas {
    width: 90% !important;
    height: 100% !important;
    ;
    padding: 1rem 0 !important;
    margin: 0 auto !important;
}

.subdocument_intial .react-pdf__Page__textContent {
    width: 90% !important;
    height: auto !important;
    padding: 1rem 0 !important;
    margin: 0 auto !important;
    display: none;
}

.my-docpop .subdocument_intial .react-pdf__Page__annotations {
    display: none;
}

.block:hover {
    border: 1px solid #2F7FED !important;
}

.docscroll {
    width: 100%;
    height: 567px;
    overflow-y: auto;
    overflow-x: hidden;
}

.file,
.file-add {
    width: 180px;
    outline: 1px solid #ddd;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.file-add {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
}

.file:hover,
.file-add:hover {
    outline-color: rgb(159, 159, 159);
}

.file:hover .file-close-btn-wrapper {
    display: block;
    z-index: 2;
}

.file-close-btn-wrapper {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: rgb(30, 30, 30);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    display: none;
}

.file-tooltip,
.file-detail-tooltip {
    position: relative;
}

.file-tooltip .file-tooltiptext,
.file-detail-tooltip .file-detail-tooltiptext {
    visibility: hidden;
    width: 65px;
    background-color: rgb(30, 30, 30);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 50%;
    margin-left: -32px;
    font-size: 12px;
    line-height: 1.3;
}

.file-detail-tooltip .file-detail-tooltiptext {
    top: -48px;
}

.file-tooltip:hover .file-tooltiptext,
.file-detail-tooltip:hover .file-detail-tooltiptext {
    visibility: visible;
}

.file-tooltiptext::after,
.file-detail-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(30, 30, 30) transparent transparent transparent;
}

.file-preview {
    flex: 1 1 80%;
    position: relative;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.file-view-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.file-preview:hover .file-view-wrapper {
    display: block;
}

.file-view-btn {
    display: inline-flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    color: #fff;
    padding: 4px 14px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 2px;
}

.file-view-btn:hover {
    color: rgb(30, 30, 30);
    background-color: #fff;
}

.file-detail-container {
    flex: 1 1 20%;
    padding: 5px;
    font-size: 13px;
    word-wrap: break-word;
}

.file-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 4px;
    word-break: break-word;
    font-size: 12px;
    font-weight: 500;
}

.file-detail-pages {
    /* color: rgb(102, 102, 102); */
    font-size: 11px;
}

.more-detail,
.more-detail-icon {
    width: auto;
    height: 20px;
    color: #333;
}

.more-detail-wrapper {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

.more-detail-list-wrapper {
    position: relative;
    /* z-index: 10; */
}

.more-option-wrapper,
.more-upload-options {
    position: absolute;
    /* top:100%; */
    right:85%;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
    color: rgb(30, 30, 30);
    max-width: 400px;
    min-width: 168px;
    padding: 0;
    z-index: 10;
    bottom: 0px;
}

.more-upload-options {
    left: 0;
    right: 0;
}

.more-option-link,
.more-upload-link {
    color: inherit;
    background-color: inherit;
    padding: 4px 14px;
    display: block;
    border-radius: 2px;
}

.more-upload-link {
    display: flex;
    font-size: 13px;
    padding: 8px 20px;
}

.more-upload-link .link-svg {
    margin-right: 12px;
}

.more-upload-item:first-child {
    border-bottom: 1px solid #ddd;
}

.more-upload-item:last-child {
    border-top: 1px solid #ddd;
}

.more-upload-link svg,
.more-upload-link img {
    width: 16px;
    height: 16px;
}

.more-option-link:hover,
.more-upload-link:hover {
    background: rgb(244, 244, 244);
    color: rgb(40, 40, 40);
}

.more-detail:hover {
    color: rgb(36, 99, 209);
}

.vertical-initial {
    vertical-align: initial;
}

.file-add-img-wrapper {
    height: 55px;
    display: flex;
    justify-content: center;
}

.file-add-img {
    max-width: 100%;
    display: block;
    height: 100%;
}

.file-add-btn-container {
    cursor: pointer;
    align-self: stretch;
    position: relative;
}

.file-add-btn {
    background: rgb(36, 99, 209);
    border: none;
    color: #fff;
    padding: 4px 14px;
    align-self: stretch;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.file-add-input {
    position: absolute;
    top: 0;
    left: -80px;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-add-btn:hover {
    background-color: rgb(25, 81, 184);
}

.file-add-btn-arr {
    margin-left: 4px;
}

.file-add-btn-arr svg {
    width: 18px;
    height: 18px;
}

.model-text {
    font-size: 14px;
}

.delete-docpop .modal-content {
    width: 400px;
    border-radius: 0 !important;
}
.delete-docpop .modal-content {
    width: 400px;
    border-radius: 0 !important;
}

.modal-dialog {
    justify-content: center;
}

.error-modal-content.modal-body {
    padding-bottom: 0;
    text-align: left;
    padding:1.5rem;
}
.error-modal-content.docinput.adjust-title {
    width: 100% !important;
}
.overflowtestdots.docinput.adjust-title {
    width: 50% !important;
}
.close {
    border: none;
    color: #000;
    opacity: 0.5;
    /* background-color: white; */
}
@media (min-width: 768px) and (max-width: 1224px) {
    .docscroll {
        width: 100%;
        height: 443px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (min-width: 1220px) and (max-width: 1364px) {
    .docscroll {
        width: 100%;
        height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.preview .react-pdf__Page__textContent {
    display: none;
}

.other_docs .react-pdf__message--no-data {
    display: none;
}

.preview .react-pdf__message--no-data {
    display: none;
}

.other_docs .react-pdf__message--no-data {
    display: none;
}

.preview .react-pdf__Page__annotations {
    display: none;
}

.other_docs .react-pdf__Page__annotations {
    display: none;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content {
    margin-top: 0;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent .other_docs .block {
    min-height: auto !important;
}

@media (max-width: 767px) {
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent .preview {
        min-height: 200px !important;
    }
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent .other_docs1 {
    overflow-y: scroll;
    max-height: 550px;
    overflow-x: hidden;
    scrollbar-color: #2F7FED #DFDFDF !important;
    scrollbar-width: thin !important;
}

.other_docs1::-webkit-scrollbar {
    width: 6px;
}

.other_docs1::-webkit-scrollbar-track {
    background: #DFDFDF;
    border-radius: 10px;
}

.other_docs1::-webkit-scrollbar-thumb {
    background: #2F7FED;
    border-radius: 200px;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button .checkList {
    margin: 0;
    padding: 0;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button .checkList li .form-check {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button .checkList input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #2F7FED;
    border-radius: 0;
    margin-right: 10px;
    cursor: pointer;
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button .checkList label {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #2E3D57;
    display: flex;
    align-items: center;
    color: #1A2434;
    position: relative;
}

.editicon {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
/* #Edit{
    position:absolute ;
    left: 37% !important;
    top: 58% !important; 
} */
@media only screen and (min-width:1500px) and (max-width:2000px){
    .editicon {
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: -110% !important;
        top: -146% !important;
    } */
}
@media only screen and (min-width:1800px) and (max-width:2000px){
    .editicon {
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: 18% !important;
        top: 41% !important; 
    } */
}
@media only screen and (min-width:1351px) and (max-width:1500px){
    .editicon {
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: -119% !important;
        top: -113% !important;
    } */
    .dashboard_home.wrapper_other.document_add .main.grow .topbar {
        padding:20px 30px 5px 75px!important;
    }
    .dashboard_home.wrapper_other.document_add .main .topbar {
        padding:20px 30px 5px 20px!important;
    }
    /* .dashboard_home.wrapper_other.document_add .main .slide-tab-btn{
         padding: 10px 25px 10px 100px !important;} */

}
@media only screen and (min-width:1025px) and (max-width:1350px){
    .editicon {
        margin-top: 3%;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: -123% !important;
        top: -129% !important;
    } */
    .dashboard_home.wrapper_other.document_add .main.grow .topbar {
        padding:20px 30px 5px 75px!important;
    }
    .dashboard_home.wrapper_other.document_add .main .topbar {
        padding:20px 20px 5px 20px!important;
    }
}
@media only screen and (min-width:1240px) and (max-width:1350px){
    .editicon {
        margin-top: 12px;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: -116% !important;
        top: -123% !important;
    } */
}
@media only screen and (min-width:960px) and (max-width:1024px){
    
    .editicon {
        /* margin-bottom: 109px; */
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: 37% !important;
        top: 58% !important; 
    } */
    .dashboard_home.wrapper_other.document_add .main.grow .topbar {
        padding:20px 20px 5px 70px!important;
    }
    .dashboard_home.wrapper_other.document_add .main .topbar {
        padding:20px 20px 5px 20px!important;
    }
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent .col-3 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 30%;
    }
}
@media only screen and (min-width:768px) and (max-width:959px){
    .editicon {
        margin-bottom: 35px;
        margin-left: 10px;
        margin-top: 13px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    .edit-tooltip-adddoc{
        width:420px !important;
    }
    /* #Edit{
        position:absolute  ;
        left: -106% !important;
        top: -227% !important;
    } */
    .dashboard_home.wrapper_other.document_add .main.grow .topbar {
        padding:20px 30px 5px 70px!important;
    }
    .dashboard_home.wrapper_other.document_add .main .topbar {
        padding:20px 20px 5px 20px!important;
    }
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent .col-3 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 30%;
    }
}
@media (max-width:767px){
    .editicon {
        margin-bottom: 113px;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute;
        left: 37% !important;
        top: 58% !important;   
    } */
}

@media (max-width:576px){
    .editicon {
        margin-bottom: 114px;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute  ;
        left: 37% !important;
        top: 58% !important; 
    } */
}
@media (max-width:399px){
    .editicon {
        margin-bottom: 100px;
        margin-left: 10px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute  ;
        left: 37% !important;
        top: 58% !important; 
    } */
}

@media only screen and (min-width:1501px) and (max-width:1700px){
    .editicon {
        margin-bottom: 50px;
        margin-left: 10px;
        margin-top: 15px;
        cursor: pointer;
        width: 20px;
        position: relative;
    }
    /* #Edit{
        position:absolute ;
        left: -120% !important;
        top: -238% !important;
    } */
}
.flex {
    gap: 0 10px;
    justify-content: space-between;
}

.docinput1 {
    position: relative;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    height: 45px;
    outline: none;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 0 18px;
    border-radius: 5px;
    position: relative;
    gap: 0 10px;
    transition: all 0.3s;
    margin-bottom: 1.5rem;
}
.docinput-title {
    width: 50%!important;
}

.docinput {
    position: relative;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    height: 45px;
    outline: none;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 0 18px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 1.5rem;
}

.dashboard_home.wrapper_other .main .main-content.wizard .recipients_scroll .bottom_sec .srll-item .asd {
    display: flex;
    gap: 10px;
    width: 50%;
    justify-content: end !important;
    min-width: 150px;
    align-items: flex-start !important;
}

@media only screen and (min-width: 960px) and (max-width: 1036px) {
    .flex {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .flex {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .top_wrrp_othr {
        flex-wrap: wrap-reverse !important;
    }
    .asd {
        margin: 0 0 1rem -17px !important;
    }
}

.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button {
    padding: 14px 20px 14px 45px !important;
}

@media only screen and (min-width: 1025px) and (max-width: 1350px) {
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button {
        display: block !important;
    }
    /* .dashboard_home.wrapper_other.document_add .main .slide-tab-btn{
        padding: 10px 25px 10px 100px !important;} */

}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tab button {
        display: inline !important;
    }
    .editicon {
        
        margin-top: 12px !important;
    }
    /* #Edit{
        left: -117% !important;
        top: -220% !important;
    } */
}

.doc-name-dispaly {
    display: block !important;
}

.docNameoverflowtestdots {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
}

.my-docpop {
    width: 70vw !important;
    max-width: 90vw!important;
}

@media (max-width: 576px) {
    .my-docpop {
        width: 90vw!important;
        max-width: 90vw!important;
    }
}

.pop-doc {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    scrollbar-color: #2F7FED #DFDFDF !important;
    scrollbar-width: thin !important;
}

.pop-doc::-webkit-scrollbar {
    width: 6px;
}

.pop-doc::-webkit-scrollbar-track {
    background: #DFDFDF;
    border-radius: 10px;
}

.pop-doc::-webkit-scrollbar-thumb {
    background: #2F7FED;
    border-radius: 200px;
}

.pop-doc .react-pdf__Page {
    border: 1px solid black;
    width: 92%;
    margin: 1rem;
}

.pagenumber-flex {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem !important;
    padding-right: 2rem;
}

.error-modal-content {
    text-align: center;
    font-size: 18px;
    padding-bottom: 6rem;
}

.h3-adjust {
    line-height: 2!important;
}

@media (max-width: 767px) {
    .dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent h3 {
        /* font-size: 16px; */
        margin-bottom: 16px!important;
    }
}

.adjust-title {
    width: 200px!important;
}

.total-page-count {
    display: flex;
    justify-content: end;
}
.dashboard_home.wrapper_other .main .main-content.wizard #wizard_step .wizard-form .content .tabcontent {
    /* padding: 0!important; */
    width: auto!important;
    float: none!important;
    /* overflow-x: hidden;
    overflow-y: auto;
    max-height: 340px; */

}

.adjust-row {
    padding: 1rem;
}
.title-flex {
    display: flex;
    justify-content: space-between;
}
.slide-tab-btn {
     /* margin-top: 70px !important; */
}
.dragUpload{

    display: none   !important;

}
.doc-total-adjust {
    margin-right: 50px;
}
/* .my-docpop .modal-content {
max-height: 580px;
} */
.edit-tooltip-adddoc #nameOfFile {
margin-top: 1rem!important
}
.buttonStyles {
    justify-content: end!important;
}
.file-add-text {
    width: max-content
}
.dashboard_home.wrapper_other.document_add .main .topbar {
    padding: 1rem
}
.dashboard_home.wrapper_other.document_add .wizard-form.adjust-row {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 245px;
}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn{position:absolute; display:flex;margin-top:50px;justify-content:space-between; 
    /* padding: 10px 48px 10px 72px; */
}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .btn{font-family:'Rubik',sans-serif;font-size:16px;line-height:24px;font-weight:500;border-radius:3px;padding:10px 40px;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .btn.prev-btn{border:1px solid #858F9F;color:#858F9F;font-weight:400;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .btn.next-btn{background:#F06B30;color:#fff;transition: all 0.3s ease;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .btn.next-btn:hover{background:#e75c1e;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .btn.cncl-btn{font-family:'Rubik',sans-serif;font-size:16px;line-height:24px;font-weight:500;border-radius:3px;padding:10px 40px;background:transparent;border:1px solid #2F7FED;color:#2F7FED;text-transform:uppercase;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .draft_btn{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .draft_btn .btn{font-family:'Rubik',sans-serif;font-size:14px;line-height:17px;font-weight:500;border-radius:3px;padding:10px 30px;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .draft_btn .btn.draf-btn{background:#3FAB77;color:#fff;border:1px solid #3FAB77;border-radius:3px 0px 0px 3px;}
.dashboard_home.wrapper_other.document_add .main .slide-tab-btn .draft_btn .btn.cancel-btn{background:#fff;color:#1A2434;border:1px solid #858F9F;border-radius:3px 0px 0px 3px;margin-left:15px;}
.dashboard_home.wrapper_other.document_add .wizard-form.adjust-row::-webkit-scrollbar{width:6px;}
.dashboard_home.wrapper_other.document_add .wizard-form.adjust-row::-webkit-scrollbar-track{background:#DFDFDF;border-radius:10px;}
.dashboard_home.wrapper_other.document_add .wizard-form.adjust-row::-webkit-scrollbar-thumb{background:#2F7FED;border-radius:200px;}
.pop_close{
    display: flex;
    justify-content: space-between;
}
.close_add_doc_pop {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: -1px;
    color: #6E7278;
    cursor: pointer;
}
.progressbar_doccard {
    padding: 3px 3px 1px 3px;
}
.fullscreen_btn {
    border: 1px solid #858F9F;
    color: #323436;
    font-weight: 400;
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 40px;
}
.content_end {
    justify-content: end !important;
}
@media only screen and (max-width: 600px) {
    .card-height {
        height: 300px;
    }
    }
    @media only screen and (min-width: 600px) {
        .card-height {
            height: 300px;
        }
    }
    @media only screen and (min-width: 768px) {
        .card-height {
            height: 300px;
        }
        .dashboard_home.wrapper_other.document_add .wizard-form.adjust-row{
            max-height: 250px;
        }
    }
    @media only screen and (min-width: 992px) {
        .card-height {
            height: 250px;
        }
        .dashboard_home.wrapper_other.document_add .wizard-form.adjust-row{
            max-height: 250px;
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1024px) {
        .card-height {
            height: 240px;
        }
        .scroll {
            overflow-y: auto;
            overflow-x: hidden;
        }
        .scroll-btn {
            margin-bottom: -100px;
        }
        .file-upload {
            height: 190px;
            width: 180px;
        }
        .dashboard_home.wrapper_other.document_add .wizard-form.adjust-row {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 300px;
        }
    }
    @media only screen and (min-width: 1200px) and (min-width:1350px) {
        .card-height {
            height: 325px;
        }
        .file-upload {
            height: 270px;
            width: 220px;
        }
        .dashboard_home.wrapper_other.document_add .wizard-form.adjust-row {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 320px;
        }
    }
    @media only screen and (min-width: 1351px) and (max-width: 1500px) {
        .card-height {
            height:305px;
        }
        .file-upload {
            height: 250px;
            width: 220px;
        }
        .dashboard_home.wrapper_other.document_add .wizard-form.adjust-row {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 300px;
        }
    }
    @media (max-width:960px) {
        .scroll {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    @media only screen and (min-width: 1025px) and (max-width: 1350px) {
        .scroll {
            overflow-y: auto;
            overflow-x: hidden;

        }
        .dashboard_home.wrapper_other.document_add .main .slide-tab-btn{position:relative; display:flex;margin-top:50px;justify-content:space-between; 
            /* padding: 10px 50px 10px 50px; */
        }

    }