.main-content.documentagreement .action_part ul li .btn_download{font-family:'Rubik',sans-serif;font-weight:500;font-size:16px;line-height:19px;color:#fff;width:100%;padding:10px 20px;border:1.2px solid #404A5A;border-radius:5px;background:#055AEE;border:1px solid #055AEE;text-transform:uppercase;}
.main-content.documentagreement .action_part ul li .btn_signatory{font-family:'Rubik',sans-serif;font-weight:500;font-size:16px;line-height:19px;color:#fff;width:100%;padding:10px 20px;border:1.2px solid #404A5A;border-radius:5px;background:#FFB800;border:1px solid #FFB800;text-transform:uppercase;}

.agreement_view_doc {
    min-width: 900px;
    max-width: 925px;

}
.agreement_view_doc_content_middle {
    display:flex;
    justify-content:center
}

.main-content.documentagreement .document_area .main_docs h5{font-family:'Rubik',sans-serif;font-weight:300;font-size:14px;line-height:17px;color:#404A5A;margin-bottom:20px;}


@media only screen and (min-width:1351px) and (max-width:1500px){

	.main-content.documentagreement .action_part ul li .btn_download{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
	.main-content.documentagreement .action_part ul li .btn_signatory{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}

}
@media only screen and (min-width:1025px) and (max-width:1350px){
	.main-content.documentagreement .action_part ul li .btn_download{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
	.main-content.documentagreement .action_part ul li .btn_signatory{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}

}
@media only screen and (min-width:960px) and (max-width:1024px){
	.main-content.documentagreement .action_part ul li .btn_download{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
	.main-content.documentagreement .action_part ul li .btn_signatory{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
}
@media only screen and (min-width:768px) and (max-width:959px){
	.main-content.documentagreement .action_part ul li .btn_download{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
	.main-content.documentagreement .action_part ul li .btn_signatory{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}

}
@media (max-width:576px){
    .main-content.documentagreement .action_part ul li .btn_download{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}
	.main-content.documentagreement .action_part ul li .btn_signatory{font-size:15px;line-height:19px;max-width:100%;padding:10px 20px;width:auto;flex-grow:1;}

}
@media (max-width:925px){
    .agreement_view_doc_content_middle {
        display:flex;
        justify-content:left
    }
    .agreement_view_doc {
        max-width: none;
        min-width: 200px;
    
    }
}
