.bill-detail-container .content-section table{border-top: 1px solid black;border-left:1px solid black;border-right:1px solid black;}
.bill-detail-container .content-section table, thead, tbody, tr {
   /* width: 100%;  */
    /* border-bottom: 1px solid black; */
  }
    .bill-detail-container .content-section table { table-layout: fixed }
    .bill-detail-container .content-section table > thead > tr > th { width: auto; }