.Signature_Img {
  width: 100%;
  height: 100%;
}
.Signature_intial_div {
display: flex;
flex-direction: column;
align-items: center;
/* padding: 0.5rem; */
/* cursor: move!important; */
}
.control_common {   
    /* background-color:#ffe4b5; */
    /* background-color: #F06B30; */
    /* background-color: rgba(243, 104, 44, 0.9); */
    position: relative;
}
.setting{
  position: absolute;
  right: -12px;
  top: -13px;
}
.control_dot {
  width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: white;
    position: absolute;
}
.control_Mandatory {
  color: red;
  position: absolute;
  left: 7px;
  top: -15px;
  font-size: 25px;
  z-index: -1;
}
.control_dot.top_left {
  width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: white;
    position: absolute;
    left: -5px;
    top: -6px;
}
.control_dot.top_right {
    right: -5px;
    top: -6px;
}
.control_dot.bottom_left {
    left: -5px;
    bottom: -6px;
}
.control_dot.bottom_right {
    right: -5px;
    bottom: -6px;
}
.text_area_control {
  resize: none;  
  background: transparent;
  border: none;
}
.att-ad-recipient-aqua {
  border: 2px solid #00FFFF !important;
}
.att-ad-recipient-medium-green {
  border: 2px solid #9be78f !important;
}
.att-ad-recipient-medium-purple {
  border: 2px solid #8f8be2 !important;
}
.att-ad-recipient-caribbean-green {
  border: 2px solid #9ae2d7 !important;
}
.att-ad-recipient-gray {
  border: 2px solid #e6e6e6 !important;
}
.att-ad-recipient-light-pink {
  border: 2px solid #ef66c2 !important;
}
.att-ad-recipient-yellow {
  border: 2px solid #f6dc53 !important;
}
.att-ad-recipient-light-green {
  border: 2px solid #d0ef9f !important;
}
.att-ad-recipient-light-gold {
  border: 2px solid #d7db87 !important;
}
.att-ad-recipient-light-orange {
  border: 2px solid #f5b77c !important;
}
.att-ad-recipient-chetwode-blue-border {
  border: 2px solid #8f8be2 !important;
}
.att-ad-recipient-lusty-border {
  border: 2px solid #7e2a2a !important;
}
.att-ad-recipient-atomic-tangerine-border {
  border: 2px solid #ff9f5e !important;
}
.att-ad-recipient-geraldine-border {
  border: 2px solid #e7756b !important;
}
.att-ad-recipient-tyrian-purple-border {
  border: 2px solid #640050 !important;
}
.att-ad-recipient-golden-yellow-border {
  border: 2px solid #f5df01 !important;
}
.att-ad-recipient-deep-sky-blue-border {
  border: 2px solid #1ccffd !important;
}
.att-ad-recipient-magic-mint-border {
  border: 2px solid #9cf8d0 !important;
}
.att-ad-recipient-hacienda-border {
  border: 2px solid #a47e0e !important;
}
.disabled_control {
  border: 2px solid black !important;
  background-color: rgb(206 204 204 / 80%)
}

.setting:hover{
  cursor: pointer !important;
}
.control_popup_setting {
  /* display: flex; */
  justify-content: space-around;
  flex-wrap: wrap;
}

nav.react-contextmenu {
  position: fixed;
  width: 200px;
  left: 0;
  top: calc(100% + 10px);
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.react-contextmenu .react-contextmenu-item:hover{
background: #cccccc;
}

.react-contextmenu-item:hover:not(.react-contextmenu-item--disabled) {
background-color: #f1f1f1;
}

.react-contextmenu .react-contextmenu-item{
display: block;
text-decoration: none;
padding: 10px 15px;
cursor: pointer;
user-select: none;
transition: .2s;
position: relative;
margin-bottom: 2px;
display: flex;
align-items: center;
outline: none;
font-family: 'Rubik', sans-serif;
/* font-weight: 300; */
font-size: 14px;
}
.react-contextmenu-item span{
margin-left: 10px;
}
.react-contextmenu-item svg{
font-size: 14px;
}
.adjust_control_textarea {
  /* background-color: rgba(243, 104, 44, 0.4); */
  resize: none;
  overflow: hidden;
  color: black;
  background: transparent;
  border: none;
}
.control_common .react-datepicker__input-container input {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.control_common .react-datepicker__input-container input::-webkit-input-placeholder{
  color:black;
}
.control_common .react-datepicker__input-container input:-moz-placeholder {
  color:black;
}
.control_Mandatory_error_exist{
  border: 2px solid red !important;
}
.control_common textarea::-webkit-input-placeholder {
  color:black;
}

.control_common textarea:-moz-placeholder { /* Firefox 18- */
  color:black;  
}

.control_common textarea::-moz-placeholder {  /* Firefox 19+ */
  color:black;  
}

.control_common textarea:-ms-input-placeholder {
  color:black;  
}

.control_common textarea::placeholder {
  color:black;  
}
.forward_icon {
  color:rgba(243, 104, 44);
   /* margin-left:-25px */
}
.check_box_mandatory {
  color: red;
  position: absolute;
  left: 3px;
  top: -15px;
  font-size: 25px;
  z-index: -1;
}
.forward_span {
  position: absolute;
  left: -25px;
}
.control_common.date_dob_control .dobcontrol{
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}
.control_common .date_dob_control input::-webkit-input-placeholder{
color: black;
}

.control_common .date_dob_control input:-moz-placeholder{
  color: black;
} 
.control_common .date_dob_control input {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  /* background-color: rgba(243, 104, 44, 0.4); */
}
.control_common.date_dob_control input[type="date"]::-webkit-calendar-picker-indicator{
  display:block !important
}
.control_Comment {
  position: absolute;
  z-index: 100;
  color: #FFB800;
  width: 1.7em !important;
  height: 1.7em !important;
}

.control_datepicker{
  display: inline-flex;
  position: relative;
  overflow: clip;
}
.control_datepicker:focus-within {
    outline: black auto 2px;
}
.control_datepicker > input[type=date] {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  opacity: 0;
    cursor:pointer;
}
.control_datepicker > input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  cursor: pointer;
}
.control_common textarea:focus {
  outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.att-ad-recipient-pure-blue {
  border: 2px solid blue !important;
}

.att-ad-recipient-pure-red {
  border: 2px solid red !important;
}
.att-ad-recipient-pure-orange {
  border: 2px solid rgb(255, 115, 0) !important;
}
.att-ad-recip-pure-oliveblue {
  border: 2px solid #00c288 !important;
}
.att-ad-recipient-pure-violet {
  border: 2px solid #9a02f1 !important;
}
.att-ad-recip-pure-violetred {
  border: 2px solid #ff0597 !important;
}
.att-ad-recipient-pure-yellow {
  border: 2px solid yellow !important;
}

.att-ad-recipient-pure-green {
  border: 2px solid green !important;
}

.att-ad-recipient-pure-pink {
  border: 2px solid rgb(255, 0, 43) !important;
}

.att-ad-recipient-pure-black {
  border: 2px solid black !important;
}

.att-ad-recipient-pure-purple {
  border: 2px solid purple !important;
}
.side-arrow{display:inline-block;background:#2F7FED;border:1px solid #2F7FED;border-radius:3px;width:32px;height:32px;color:#FFFFFF;cursor:pointer;}
.Preview{position:fixed;right:0;background-color:#2f7fed;font-size:13px;color:#fff;border:0;padding:8px;transform:rotate(90deg);border-radius:0 0 6px 6px;text-transform:uppercase;cursor:pointer;z-index:9;}
.recipients-right-part.shrink{display:none;}
.docAgreement .recipientsmain.grow .recipients-left-part{width:100%}
.recipientsmain.grow .recipients-left-part .recipients_slider_cont .main_doc img{width:100%;}
.recipientsmain.grow .recipients-left-part .recipients_slider_cont .main_doc .doc-pagination .recipients-carousel .owl-stage-outer{max-width:1370px;}
.recipientsmain.grow .recipients-right-part.shrink{display:none;}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
@media (max-width:767px) {
  .docAgreement .Preview{
    display: none!important;
}
.docAgreement .recipients-right-part .side-arrow {
  display: none!important;
}
}