.contacts-table-popup .main-content.billingandusage .bill-detail-container .card .card-body .head-section {
    background: #427fed;
    padding: 20px;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
.contacts-table-popup .main-content.contacts{padding:0 20px 10px 30px;max-height: 400px;overflow: auto;  scrollbar-color: #2F7FED #DFDFDF !important;
  scrollbar-width: thin !important;}

  .contacts-table-popup .main-content.contacts::-webkit-scrollbar {
    width: 6px; height: 6px;
}

.contacts-table-popup .main-content.contacts::-webkit-scrollbar-track {
    background: #DFDFDF;
    border-radius: 10px;
}

.contacts-table-popup .main-content.contacts::-webkit-scrollbar-thumb {
    background: #2F7FED;
    border-radius: 200px;
}
.contacts-table-popup .main-content.contacts .recipient-btn .search-box {
  /* width: 400px; */
  margin-right: 10px;
  margin-top: 10px;
}

.contacts-table-popup .main-content.contacts .recipient-btn .search-box input {
  border: 1px solid #2F7FED;
  border-radius: 3px;
}

.contacts-table-popup .main-content.contacts .recipient-btn .search-box .search-btn {
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px
}

.contacts-table-popup .main-content.contacts .recipient-btn .search-box .search-btn .fa {
  font-size: 20px;
}
.contacts-table-popup .main-content.contacts .recipient-btn .search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  border: 1px solid #2F7FED;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.contacts-table-popup .main-content.contacts h3{font-family:'Rubik',sans-serif;font-weight:400;font-size:25px;line-height:1;color:#1A2434;margin:0;padding:0;}
.contacts-table-popup .main-content.contacts .recipient-btn{margin:0 0 30px 0;}
/* .contacts-table-popup .main-content.contacts .recipient-btn .search{display:flex;align-items:center;justify-content:center;width:45px;height:40px;border:1px solid #2F7FED;border-radius:3px;cursor:pointer;margin-right:10px;} */
.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{display:flex;align-items:center;border:1px solid #C9CBCE;border-radius:3px;color:#1A2434;font-weight:400;font-size:15px;margin-right:10px;}
.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{display:flex;align-items:center;border:1px solid #6351C3;background:#6351C3;padding:8px 30px;border-radius:3px;color:#fff;font-weight:400;font-size:15px;margin-right:10px;transition: all 0.3s ease;}
.contacts-table-popup .main-content.contacts .recipient-btn .import .btn:hover{background:#3c2b99;}
.contacts-table-popup .main-content.contacts .recipient-btn .action_area{display:flex;justify-content:end;flex-wrap:wrap;align-items:center;margin:0;padding:0;}
.contacts-table-popup .main-content.contacts .recipient-btn .action_area ul{display:flex;margin:0;padding:0;}
.contacts-table-popup .main-content.contacts .recipient-btn .action_area ul li{position:relative;display:flex;margin-right:10px;}
.contacts-table-popup .main-content.contacts .recipient-btn .action_area ul li:last-child{margin-right:0;}
.contacts-table-popup .main-content.contacts .document_block{display:flex;background:#F4F4F5;border:1px solid #F4F4F5;border-radius:3px;margin-bottom:10px;}
.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:100%;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;margin:0;padding:10px;}
.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:20%;}
.contacts-table-popup .main-content.contacts .document_block ul.content_area li h6{font-family:'Rubik',sans-serif;font-weight:300;font-size:13px;line-height:20px;color:#737B88;}
.contacts-table-popup .main-content.contacts .document_block ul.content_area li h5{font-family:'Rubik',sans-serif;font-weight:400;font-size:16px;line-height:19px;color:#404A5A;}
.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:20%;display:flex;justify-content:end;flex-wrap:wrap;align-items:center;margin:0;padding:20px;}
.contacts-table-popup .main-content.contacts .document_block ul.action_area li{position:relative;margin-right:30px;}
.contacts-table-popup .main-content.contacts .document_block ul.action_area li:last-child{position:relative;margin-right:0;}
.contacts-table-popup .main-content.contacts .document_block .switch{margin:0;position:relative;display:inline-block;width:47px;height:24px;}
.contacts-table-popup .main-content.contacts .document_block .switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#fff;border:1px solid #C9CBD0;border-radius:50px;-webkit-transition:0.4s;transition:0.4s;}
.contacts-table-popup .main-content.contacts .document_block .switch .slider:before{position:absolute;content:"";height:16px;width:16px;left:4px;bottom:3px;background:#F06B30;-webkit-transition:0.4s;transition:0.4s;}
.contacts-table-popup .main-content.contacts .document_block .switch .slider input:checked+.slider:before{-webkit-transform:translateX(26px);-ms-transform:translateX(26px);transform:translateX(17px);}
.contacts-table-popup .main-content.contacts .document_block .switch .slider input:checked+.slider{background-color:#ffffff;}
.contacts-table-popup .main-content.contacts .document_block .switch .slider.round{border-radius:50px;}
.contacts-table-popup .main-content.contacts .document_block input:checked + .slider:before{background:#3FAB77;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
.contacts-table-popup .main-content.contacts .document_block .input-div-adjust {
  margin-right: 1rem;
}
.document_block .selectCheckbox {
  height: 1.2rem;
  width: 1.5rem;
}
.document_block .checkbox_li {
  width: auto!important;

}
.contacts-table-popup .main-content.contacts .input-group .form-control {
  transition: none!important;
}


@media only screen and (min-width:1351px) and (max-width:1500px){
	.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{font-size:13px;height:40px;padding:0 9px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .search{width:40px;height:40px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .btn img{margin-right:3px;width:13px;height:14px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{padding:9px 19px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{margin-left:0;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:100%;padding:10px 0 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(1){width:16%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(2){width:24%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(3){width:15%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(4){width:17%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(5){width:12%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:13%;padding:0 7px 5px 0;justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{padding:10px 10px 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:50%;margin-bottom:10px;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area li a img{max-width:13px;}
}
@media only screen and (min-width:1025px) and (max-width:1350px){
	.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{font-size:13px;height:40px;padding:0 9px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .search{width:40px;height:40px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .btn img{margin-right:3px;width:13px;height:14px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{padding:9px 19px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{margin-left:0;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:86%;padding:10px 0 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(1){width:16%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(2){width:24%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(3){width:15%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(4){width:17%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(5){width:12%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:13%;padding:0 7px 5px 0;justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block{flex-wrap:wrap;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{padding:10px 10px 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:50%;margin-bottom:10px;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li h5{font-size:14px;line-height:20px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area li a img{max-width:13px;}
}
@media only screen and (min-width:960px) and (max-width:1024px){
	.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{font-size:13px;height:40px;padding:0 9px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .search{width:40px;height:40px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .btn img{margin-right:3px;width:13px;height:14px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{padding:9px 19px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{margin-left:0;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:86%;padding:10px 0 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(1){width:16%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(2){width:24%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(3){width:15%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(4){width:17%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(5){width:12%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:13%;padding:0 7px 5px 0;justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block{flex-wrap:wrap;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{padding:10px 10px 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:50%;margin-bottom:10px;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li h5{font-size:14px;line-height:20px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area li a img{max-width:13px;}
}
@media only screen and (min-width:768px) and (max-width:959px){
	.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{font-size:13px;height:40px;padding:0 9px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .search{width:40px;height:40px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .btn img{margin-right:3px;width:13px;height:14px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{padding:9px 19px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{margin-left:0;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:100%;padding:10px 0 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:100%;padding:0 7px 5px 0;justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block{flex-wrap:wrap;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{padding:10px 10px 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:50%;margin-bottom:10px;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li h5{font-size:14px;line-height:20px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area li a img{max-width:13px;}
	.contacts-table-popup .main-content.main-from-content .document-content .slider-item{padding:10px;}
}
@media (max-width:767px){
	.contacts-table-popup .main-content.contacts .recipient-btn .add_user .btn{font-size:13px;height:35px;padding:0 9px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .search{width:40px;height:35px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .btn img{margin-right:3px;width:13px;height:14px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .import .btn{padding:9px 19px;height:35px;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{margin-left:0;}
	.contacts-table-popup .main-content.contacts .recipient-btn .action_area{justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(3){width:40%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(4){width:45%;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li:nth-child(5){width:0;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{width:80%;padding:10px 0 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:30%;padding:0 5px 0 0;justify-content:end;}
	.contacts-table-popup .main-content.contacts .document_block{flex-wrap:wrap;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area{padding:10px 10px 0 10px;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li{width:40%!important;margin-bottom:10px;float:left;}
	.contacts-table-popup .main-content.contacts .document_block ul.content_area li h5{font-size:14px;line-height:20px;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area{width:100%;padding:0 10px 10px 0;justify-content:center;}
	.contacts-table-popup .main-content.contacts .document_block ul.action_area li a img{max-width:13px;}

}
