.prepare_document.submit_popup.share_document .share_document_form input[type=date] {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    height: 45px;
    outline: none;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 0 18px;
    border-radius: 5px;
    position: relative;
}
.prepare_document.submit_popup.share_document .share_document_form .p-calendar {
    display: flex!important;
}
.prepare_document.submit_popup.share_document .share_document_form .p-button.p-button-icon-only {
    padding: 0.5rem!important;
}
.submit_cancel_btn {margin-top: 10px;letter-spacing: 0.12em;text-transform: uppercase;background:#E44F0D;border-color: #E44F0D;}
/* .prepare_document.submit_popup.share_document .share_document_form textarea {
    height: 45px;
} */
.submit_send_btn {margin-top: 10px;letter-spacing: 0.12em;text-transform: uppercase;background:#E44F0D;border-color: #E44F0D;}
/* .dashboard_home.wrapper_other .main .main-content.wizard .prepare_document.document_other .prepare-slide_pln .share_document .item img{height:auto;} */
.prepare_document.submit_popup.share_document{padding:30px 60px;background:#fff;}
.prepare_document.submit_popup.share_document h2{font-family:'Rubik',sans-serif;font-weight:300;font-size:25px;line-height:1;color:#2D323A;}
.prepare_document.submit_popup.share_document .item{margin-bottom:20px;}
.prepare_document.submit_popup.share_document .item img{height:330px;}
.prepare_document.submit_popup.share_document .slide_text_artcl{display:flex;height:50%;align-items:center;}
.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-family:'Rubik',sans-serif;font-weight:400;font-size:21px;line-height:27px;color:#707379;}
.prepare_document.submit_popup.share_document .slide_text_artcl h5{font-family:'Rubik',sans-serif;font-weight:400;font-size:15px;line-height:27px;color:#707379;}
.prepare_document.submit_popup.share_document .slide_text_artcl p{font-family:'Rubik',sans-serif;font-weight:400;font-size:15px;line-height:27px;color:#707379;}
.prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:absolute;right:-106px;bottom:136px;}
.prepare_document.submit_popup.share_document .owl-carousel .owl-nav button.owl-next, .prepare_document.submit_popup.share_document .owl-carousel .owl-nav button.owl-prev{background:#2F7FED;border:1px solid #2F7FED;border-radius:3px;width:32px;height:32px;color:#FFFFFF;}
.prepare_document.submit_popup.share_document .share_document_form .form-group{margin-bottom:0;}
.prepare_document.submit_popup.share_document .share_document_form label{display:block;font-family:'Rubik',sans-serif;font-weight:400;font-size:16px;line-height:40px;color:#404A5A;}
.prepare_document.submit_popup.share_document .share_document_form input[type=text],input[type=tel],input[type=Password],input[type=email],input[type=number]{position:relative;width:100%;font-family:'Rubik',sans-serif;font-size:15px;font-weight:400;color:#000;height:45px;outline:none;background:#fff;border:1px solid #DEDEDE;padding:0 18px;border-radius:5px;position:relative;}
.prepare_document.submit_popup.share_document .share_document_form textarea{position:relative;width:100%;font-family:'Rubik',sans-serif;font-size:15px;font-weight:400;color:#000;height:120px;outline:none;background:#fff;border:1px solid #DEDEDE;padding:10px 18px;border-radius:5px;position:relative;resize:none;margin-top:0px;}
.prepare_document.submit_popup.share_document .share_document_form select{position:relative;width:100%;font-family:'Rubik',sans-serif;font-size:15px;font-weight:400;line-height:25px;padding:10px 18px;text-align:left;border:1px solid #D8D9DE;height:45px;outline:none;margin-bottom:0;width:100%;background:#fff;color:#5F6F89;border-radius:5px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.prepare_document.submit_popup.share_document .share_document_form select.hlfinput{background-image:url(../images/down_arrow.svg);background-position:95% center;background-repeat:no-repeat;}
.prepare_document.submit_popup.share_document .share_document_form .subBtn{width:123px;}
.prepare_document.submit_popup.share_document .slide-tab-btn{position:relative; display:flex;margin-top:50px;justify-content:space-between;}
.prepare_document.submit_popup.share_document .slide-tab-btn .btn{font-family:'Rubik',sans-serif;font-size:16px;line-height:24px;font-weight:500;border-radius:3px;padding:10px 40px;}
.prepare_document.submit_popup.share_document .slide-tab-btn .btn.prev-btn{border:1px solid #858F9F;color:#858F9F;font-weight:400;}
.prepare_document.submit_popup.share_document .subBtn{position:relative;font-family:'Rubik',sans-serif;font-weight:500;font-size:16px;line-height:1.5;padding:0;width:100%;height:50px;border-radius:5px;background:#F06B30;border:none;color:#fff;display:inline-block;letter-spacing:0.12em;text-transform:uppercase;margin-top:10px;margin-bottom:0;}
.prepare_document.submit_popup.share_document .subBtn span{position:absolute;top:0;right:0;width:53px;height:50px;background:#E44F0D;border-radius:0 5px 5px 0;display:flex;align-items:center;justify-content:center;}
@media only screen and (min-width:1351px) and (max-width:1500px){

.prepare_document.submit_popup.share_document{width:100%;padding:20px;}
.prepare_document.submit_popup.share_document h2{font-size:19px;line-height:1;margin:0 0 10px 0;}
.prepare_document.submit_popup.share_document .share_document_form label{font-size:14px;line-height:30px;}
.prepare_document.submit_popup.share_document .slide_text_artcl{display:block;height:100%;align-items:center;}
.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-size:17px;}
.prepare_document.submit_popup.share_document .share_document_form textarea{height:100px;}
.prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:relative;right:0;bottom:0;}
.prepare_document.submit_popup.share_document .item img{display:block;margin-left:auto;margin-right:auto;}
.prepare_document.submit_popup.share_document .slide_text_artcl h5{font-size:14px;}
.prepare_document.submit_popup.share_document .share_document_form .subBtn{margin:10px auto;display:block;}

}
@media only screen and (min-width:1025px) and (max-width:1350px){
	.prepare_document.submit_popup.share_document{width:100%;padding:20px;}
	.prepare_document.submit_popup.share_document h2{font-size:19px;line-height:1;margin:0 0 10px 0;}
	.prepare_document.submit_popup.share_document .share_document_form label{font-size:14px;line-height:30px;}
	.prepare_document.submit_popup.share_document .slide_text_artcl{display:block;height:100%;align-items:center;}
	.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-size:17px;}
	.prepare_document.submit_popup.share_document .share_document_form textarea{height:100px;}
    .prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:relative;right:0;bottom:0;}
    .prepare_document.submit_popup.share_document .item img{display:block;margin-left:auto;margin-right:auto;}

	.prepare_document.submit_popup.share_document .slide_text_artcl h5{font-size:14px;}
	.prepare_document.submit_popup.share_document .share_document_form .subBtn{margin:10px auto;display:block;}
}
@media only screen and (min-width:960px) and (max-width:1024px){
	.prepare_document.submit_popup .item img{height:auto;width:auto;}
	.prepare_document.submit_popup.share_document{width:100%;padding:20px;}
	.prepare_document.submit_popup.share_document h2{font-size:19px;line-height:1;margin:0 0 10px 0;}
	.prepare_document.submit_popup.share_document .share_document_form label{font-size:14px;line-height:30px;}
	.prepare_document.submit_popup.share_document .slide_text_artcl{display:block;height:100%;align-items:center;}
	.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-size:17px;}
	.prepare_document.submit_popup.share_document .share_document_form textarea{height:100px;}
	.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .subBtn{font-size:15px;}
	.prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:relative;right:0;bottom:0;}
	.prepare_document.submit_popup .owl-theme .owl-nav{text-align:right;margin:0 12px 0 0;}
	.prepare_document.submit_popup.share_document .item img{display:block;margin-left:auto;margin-right:auto;}
    .prepare_document.submit_popup.share_document .slide_text_artcl h5{font-size:14px;}
	.prepare_document.submit_popup.share_document .share_document_form .subBtn{margin:10px auto;display:block;}
}
@media only screen and (min-width:768px) and (max-width:959px){
	.prepare_document.submit_popup.share_document{width:100%;padding:20px;}
	.prepare_document.submit_popup.share_document h2{font-size:19px;line-height:1;margin:0 0 10px 0;}
	.prepare_document.submit_popup.share_document .share_document_form label{font-size:14px;line-height:30px;}
	.prepare_document.submit_popup.share_document .slide_text_artcl{display:block;height:100%;align-items:center;}
	.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-size:17px;}
	.prepare_document.submit_popup.share_document .share_document_form textarea{height:100px;}
	.prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:relative;right:0;bottom:0;}
	.prepare_document.submit_popup.share_document .item img{display:block;margin-left:auto;margin-right:auto;}
	.prepare_document.submit_popup.share_document .owl-stage-outer{height:160px;overflow-y:clip;}
	.prepare_document.submit_popup.share_document .slide_text_artcl h5{font-size:14px;}
	.prepare_document.submit_popup.share_document .share_document_form .subBtn{margin:10px auto;display:block;}
}

@media (max-width:767px){
.prepare_document.submit_popup.share_document{width:100%;padding:20px;}
.prepare_document.submit_popup.share_document h2{font-size:19px;line-height:1;margin:0 0 10px 0;}
.prepare_document.submit_popup.share_document .share_document_form label{font-size:14px;line-height:30px;}
.prepare_document.submit_popup.share_document .slide_text_artcl{display:block;height:100%;align-items:center;}
.prepare_document.submit_popup.share_document .slide_text_artcl h6{font-size:17px;}
.prepare_document.submit_popup.share_document .share_document_form textarea{height:100px;}
.prepare_document.submit_popup.share_document .owl-carousel .owl-nav{margin:0;position:relative;right:0;bottom:0;}
.prepare_document.submit_popup.share_document .item img{display:block;margin-left:auto;margin-right:auto;}
}
@media (max-width:576px){
	.prepare_document.submit_popup.share_document{width:100%;padding:20px 20px;}
	.prepare_document.submit_popup.share_document h2{font-size:22px;line-height:24px;}
	.prepare_document.submit_popup.share_document p{font-size:17px;line-height:34px;}
	.prepare_document.submit_popup.share_document .tab-content{padding:10px 0;}
	.prepare_document.submit_popup.share_document .tab-content .subf_pagn_btn{margin-top:0;}
}
@media (max-width:399px){
	.prepare_document.submit_popup.share_document{width:100%;padding:20px 20px;}
	.prepare_document.submit_popup.share_document h2{font-size:22px;line-height:24px;}
	.prepare_document.submit_popup.share_document p{font-size:17px;line-height:34px;}
	.prepare_document.submit_popup.share_document .tab-content{padding:10px 0;}
	.prepare_document.submit_popup.share_document .tab-content .subf_pagn_btn{margin-top:0;}
}
.submit_popdcodument .react-pdf__Page__canvas {
	width: 100% !important;
    height: 100% !important;
    padding: 0.5rem !important;
    margin: 0 auto !important;
}
.submit_document-nagin {
	margin: 10px 80px 10px 0px;
}
.p-datepicker {
	z-index: 10000 !important;
}
.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .list_item ul li .btn img {
	width: 14px;
}
.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .prepare-be-document h2 {
	margin-bottom: 1rem;
}
.success-animation { margin:0px auto;}

.checkmark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    stroke-width: 3px;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3px;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
.documet_review_recipients_ul .recipient_image_zoom {
    width:20px;
    margin-left: 20px;
  }
  .documet_review_recipients_ul .cc_image_zoom {
    width:20px;
    margin-left: 20px;
  }

