
 /* Fecial Recognition */
 .dashboard_home.wrapper_other .other_main .photoverification{position:relative;padding:30px 50px 30px 60px;}
 .dashboard_home.wrapper_other .other_main .photoverification h3{font-family:'Rubik',sans-serif;font-weight:400;font-size:25px;line-height:50px;color:#1A2434;margin:0 0 15px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 128px 20px;background:#2F7FED;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 133px 20px;background:#2F7FED;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;bottom:5px;right:5px;cursor:pointer;z-index:9;}
 /* .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon img{filter:brightness(0) invert(1);} */
 .dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:699px;max-height:699px;overflow:hidden;}
 .dashboard_home.wrapper_other .other_main .photoverification .video-record img{width:100%;height:100%;object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .alert{width:100%;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:1.2;color:#d30606;letter-spacing:0.01em;padding:5px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification h5{width:100%;font-family:'Rubik',sans-serif;font-weight:400;font-size:22px;line-height:1;color:#6b6d70;letter-spacing:0.01em;padding:20px 0;text-align:center;}
 .dashboard_home.wrapper_other .other_main .photoverification h5 span{color:#2F7FED;}
 .dashboard_home.wrapper_other .other_main .photoverification .submit_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .submit_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #b6b6b7;color:#2F7FED;font-weight:500;font-size:16px;padding:12px 60px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .verified-msg{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:500px;height:auto;padding:40px;border-radius:9px;background:#fff;box-shadow:4px 4px 111px #c6ccd6;z-index:2;}
 .dashboard_home.wrapper_other .verified-msg .content .top-heading{display:flex;align-items:center;column-gap:10px;margin-bottom:15px;}
 .dashboard_home.wrapper_other .verified-msg .content .top-heading span{width:30px;height:30px;}
 .dashboard_home.wrapper_other .verified-msg .content .top-heading h3{font-family:'Rubik',sans-serif;font-weight:400;font-size:23px;line-height:30px;color:#404A5A;margin:0;}
 .dashboard_home.wrapper_other .verified-msg .content p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#313743;}
 .dashboard_home.wrapper_other .verified-msg .content .submit_btn{display:flex;justify-content:center;margin-top:20px;}
 .dashboard_home.wrapper_other .verified-msg .content .submit_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#F06B30;border:1px solid #F06B30;color:#fff;font-weight:500;font-size:14px;padding:12px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 
 
 @media (max-width:959px){
	 .dashboard_home.wrapper_other .other_main .photoverification{padding:16px;max-width:960px;}
	 .dashboard_home.wrapper_other .other_main .photoverification h3{font-size:20px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification [class^="col"]:last-child{order:1;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding:30px 10px;background:#2F7FED;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-size:13px;line-height:20px;margin:0 0 10px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:60px;height:60px;margin:0 auto;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{padding:8px 30px;line-height:27px;font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb .screenshot{height:56px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .alert{font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .video-record{height:311px;max-height:311px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification h5{font-size:17px;line-height:1.5;padding:7px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .submit_btn .btn{font-size:14px;padding:8px 40px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .verified-msg{width:400px;padding:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading span{width:25px;height:25px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading h3{font-size:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content p{font-size:14px;line-height:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content .submit_btn .btn{font-size:12px;padding:10px 20px;}
 }
 @media (max-width:576px){
	 .dashboard_home.wrapper_other .other_main .photoverification{padding:16px;max-width:540px;}
	 .dashboard_home.wrapper_other .other_main .photoverification h3{font-size:20px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification [class^="col"]:first-child{order:2;}
	 .dashboard_home.wrapper_other .other_main .photoverification [class^="col"]:last-child{order:1;}
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:258px;max-height:700px;overflow:hidden;}
	 /* .dashboard_home.wrapper_other .other_main .photoverification .video-record{height:212px;max-height:300px;min-height:212px;overflow:hidden;} */
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding:18px 20px !important;background:#2F7FED;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{display:none;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{padding:8px 30px;line-height:27px;font-size:12px;}

	 /* .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{background:#2F7FED;border:1px solid #2F7FED;color:#fff;padding:15px 50px;} */
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{color:#1A2434;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{color:#1A2434;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb .screenshot{height:80px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .alert{text-align:center;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{color:#1A2434;}
	 .dashboard_home.wrapper_other.feedback-sec{padding:100px 10px;}
	 .dashboard_home.wrapper_other.feedback-sec .other_main .feedback{max-width:540px;}
	 .dashboard_home.wrapper_other.feedback-sec .other_main .feedback .heading p{font-size:15px;}
	 .dashboard_home.wrapper_other.verify-document-sec{padding:100px 10px;}
	 .dashboard_home.wrapper_other.verify-document-sec .other_main .verify-document{max-width:540px;}
	 
 }
 @media only screen and (min-width:1025px) and (max-width:1350px){
	 /* .dashboard_home.wrapper_other .other_main .photoverification{padding:16px;max-width:960px;} */
	 .dashboard_home.wrapper_other .other_main .photoverification h3{font-size:20px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification [class^="col"]:last-child{order:1;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding:51px 20px !important;background:#2F7FED;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-size:13px;line-height:20px;margin:0 0 10px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:60px;height:60px;margin:0 auto;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{padding:8px 30px;line-height:27px;font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb .screenshot{height:62px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .alert{font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .video-record{height:317px;max-height:317px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification h5{font-size:17px;line-height:1.5;padding:7px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .submit_btn .btn{font-size:14px;padding:8px 40px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .verified-msg{width:400px;padding:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading span{width:25px;height:25px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading h3{font-size:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content p{font-size:14px;line-height:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content .submit_btn .btn{font-size:12px;padding:10px 20px;}
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:547px !important;max-height:547px !important;overflow:hidden;}
	/* .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 100px 20px;background:#2F7FED;} */
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 72px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:120px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:78px;right:5px;cursor:pointer;z-index:9;}

 }
 @media only screen and (min-width:768px) and (max-width:959px){
	 .dashboard_home.wrapper_other .other_main .photoverification{padding:16px;max-width:960px;}
	 .dashboard_home.wrapper_other .other_main .photoverification h3{font-size:20px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification [class^="col"]:last-child{order:1;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding:30px 10px;background:#2F7FED;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-size:13px;line-height:20px;margin:0 0 10px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:60px;height:60px;margin:0 auto;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{padding:8px 30px;line-height:27px;font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb .screenshot{height:62px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .alert{font-size:12px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .video-record{height:317px;max-height:317px;margin:0;}
	 .dashboard_home.wrapper_other .other_main .photoverification h5{font-size:17px;line-height:1.5;padding:7px 0;}
	 .dashboard_home.wrapper_other .other_main .photoverification .submit_btn .btn{font-size:14px;padding:8px 40px;}
	 .dashboard_home.wrapper_other .other_main .photoverification .verified-msg{width:400px;padding:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading span{width:25px;height:25px;}
	 .dashboard_home.wrapper_other .verified-msg .content .top-heading h3{font-size:20px;}
	 .dashboard_home.wrapper_other .verified-msg .content p{font-size:14px;line-height:20px;}
	 .signulu_regi_sec .right_part .right_part_cont h3{font-size:38px;width:320px;line-height:50px;}
 }

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 320px) and (max-width : 375px){
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:247px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:120px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:78px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}
@media only screen 
and (min-width : 376px) and (max-width:425px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:285px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:120px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:78px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}
@media only screen 
and (min-width : 426px) and (max-width:768px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:420px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:120px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:78px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}
@media only screen 
and (min-width : 769px) and (max-width:1024px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:452px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:120px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:78px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}
@media only screen 
and (min-width : 1025px) and (max-width:1440px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:614px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 86px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 105px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;bottom: 5px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;bottom: 5px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}
@media only screen 
and (min-width : 1441px) and (max-width:2560px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:689px;max-height:700px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 120px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 131px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 /* background:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%) */
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;bottom:5px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;bottom:5px;right:5px;cursor:pointer;z-index:9;}
 /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.dashboard_home.wrapper_other .other_main .photoverification .video-record{background:#f6f6f6;border:1px solid #b6b6b7;width:100%;height:216px;max-height:630px;overflow:hidden;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel-with-images{padding: 18px 20px;background:#2F7FED;}
	.dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture{width:120px;height:120px;margin:0 auto;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .picture img{filter:brightness(0) invert(1);}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:center;margin:0 0 20px 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn{display:flex;justify-content:center;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn{display:inline-block;font-family:'Rubik',sans-serif;background:#fff;border:1px solid #fff;color:#307fed;font-weight:500;font-size:16px;padding:15px 30px;text-transform:uppercase;border-radius:50px;letter-spacing:1px;transition:0.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .capture_btn .btn:hover{background:#1b6cdd;color:#fff;border:1px solid #1b6cdd;transition:.2s;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;text-align:center;margin:10px 0 0 0;}
 .dashboard_home.wrapper_other .other_main .photoverification .top-panel .count-capture span{position:relative;font-family:'Rubik',sans-serif;font-weight:400;font-size:14px;line-height:30px;color:#fff;vertical-align:middle;margin-left:6px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel{margin-top:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumb{display:flex;flex-direction:row;gap:10px;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .picture-thumbnail{display:grid;flex-direction:row;gap:10px;justify-content: center;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot{position:relative;border:1px solid #b6b6b7;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot::before{content:'';position:absolute;bottom:0;left:0;z-index:2;width:100%;height:95%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000',endColorstr='#FF000000');}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot img{object-fit:cover;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon{position:absolute;top:110px;right:5px;cursor:pointer;z-index:9;}
 .dashboard_home.wrapper_other .other_main .photoverification .bottom-panel .screenshot .delete-icon-with-images{position:absolute;top:60px;right:5px;cursor:pointer;z-index:9;}

}

