.dashboard_home.wrapper_other .feedback-sec{background:transparent;}
.dashboard_home.wrapper_other .feedback-sec .feedback{position:relative;width:100%;margin:0 auto;}
.dashboard_home.wrapper_other .feedback-sec .feedback .heading{background:#2F7FED;padding:20px;border-radius:20px 20px 0 0;}
.dashboard_home.wrapper_other .feedback-sec .feedback .heading h2{font-family:'Rubik',sans-serif;font-weight:500;font-size:20px;line-height:20px;color:#fff;margin:0;text-align:center;}
.dashboard_home.wrapper_other .feedback-sec .feedback .heading p{font-family:'Rubik',sans-serif;font-weight:300;font-size:16px;line-height:22px;color:#fff;text-align:left;margin:0;text-align:center;}
.dashboard_home.wrapper_other .main.other_main .main-content.main-from-content.feedback{background:transparent;padding:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.dashboard_home.wrapper_other .feedback-sec .feedback .content{background:#fafafa;padding:20px;margin:0;border-radius:0 0 20px 20px;box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row{padding:0;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper{position:relative;left:0;right:0;width: 38px;height:45px;box-sizing:content-box;transition:0.25s ease-out;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face{cursor:pointer;transition:0.25s ease-out;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper:hover .face{transform:scale(1.1);}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face svg{transform:scale(0.9);fill:#d3d3d3;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face.active1 svg{fill:#FF4433;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face.active2 svg{fill:#f6a30a;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face.active3 svg{fill:#ffc100;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face.active4 svg{fill:#90EE90;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .feedback-faces .row .face-wrapper .face.active5 svg{fill:#11a415;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content lable{font-family:'Rubik',sans-serif;font-weight:300;font-size:17px;line-height:50px;color:#000;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content textarea{width:100%;font-family:'Rubik',sans-serif;font-size:17px;line-height:33px;font-weight:300;color:#2E3D57;height:180px;outline:none;background:#eef5ff;border:1px solid #d9e8fd;padding:10px 15px;border-radius:5px;position:relative;transition:all 0.3s;resize:none;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .submit_btn{display:flex;justify-content:center;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .submit_btn .feed-btn{display:inline-block;font-family:'Rubik',sans-serif;background:#F06B30;border:1px solid #F06B30;color:#fff;font-weight:500;font-size:14px;padding:13px 40px;margin:20px 0 0 0;text-transform:uppercase;border-radius:0.25rem;letter-spacing:1px;transition:0.2s;}
.dashboard_home.wrapper_other .feedback-sec .feedback .content .submit_btn .feed-btn-disabled{display:inline-block;font-family:'Rubik',sans-serif;background:#F06B30;border:1px solid #F06B30;color:rgb(230, 229, 229);font-weight:500;font-size:14px;padding:13px 40px;margin:20px 0 0 0;text-transform:uppercase;border-radius:0.25rem;letter-spacing:1px;transition:0.2s;}
.cancel-btn {
background:#fff;color: #858F9F;display:inline-block;font-family:'Rubik',sans-serif; border:1px solid #858F9F; font-weight:500;font-size:14px;padding:13px 28px;margin:20px 0 0 15px;text-transform:uppercase;border-radius:0.25rem;letter-spacing:1px;transition:0.2s;
}
