
.sign_drop{
  position:absolute;
  left: 114%;
  top: -17%;
}
.signPopup_Prepare{
  display: flex;
}
.signSideBar_Prepare{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  background-color: #e6e6ff;
  align-items: center;
  width: 4rem;
  height: 100%;
}
.selectIcons_Prepare{
  background-color: #e6e6ff;
  width: 55px;
  margin: -3px 22px 10px 10px;
  height: 277px;
}
.item_Prepare{
  height: 30px;
}
.drawBox_Prepare {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  height: 45px;
  outline: none;
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 0 18px;
  border-radius: 5px;
  position: relative;
}
.selection_name_font_Prepare{
  width: 800px !important;
}
.img_popUp{
  max-height: 82px !important;
}
.delete_control{
  background:#F06B30;
  color:#fff;
  transition: all 0.3s ease;
}
.hlfinput_popup{
  background-position:95% center;
  height:50px;font-size:15px;padding:10px 20px;
  border-radius: 25px;

}
  
.signaturePopup {
  /* padding: 0 50px 30px 60px; */
}

.signaturePopup h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  color: #1A2434;
  margin: 10px 0 0 0;
  padding: 0;
}

.signaturePopup .recipient-btn {
  margin: 0 0 30px 0;
}

.signaturePopup .recipient-btn .back_btn {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #1A2434;
  border: 1px solid #C9CBCE;
  border-radius: 3px;
  margin-right: 15px;
  padding: 7px 30px;
  transition: all 0.3s ease;
}

.signaturePopup .recipient-btn .back_btn:hover {
  background: #C9CBCE;
  color: #212529;
}

.signaturePopup .conditions_sect {
  margin-top: 0;
}

.signaturePopup .conditions_sect .item.first-child {
  border-right: 1px dashed #BBBBBB;
  padding-right: 90px;
}

.signaturePopup .conditions_sect .item.second-child {
  padding-left: 20px;
}

.signaturePopup .conditions_sect .item h5 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 17px;
  color: #1A2434;
}

.signaturePopup .conditions_sect .item .content {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.signaturePopup .conditions_sect .item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #1A2434;
}

.signaturePopup .conditions_sect .item p:first-child {
  width: 250px;
  margin-right: 150px;
}

.signaturePopup .conditions_sect input[type=text] {
  width: 300px;
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #2E3D57;
  height: 53px;
  outline: none;
  background: #FAFAFA;
  border: 1px solid #DEDEDE;
  padding: 0 18px;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
}

.signaturePopup .conditions_sect .form-group {
  margin-top: 50px;
}

.signaturePopup .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.signaturePopup .tab button {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: block;
  background: #404A5A;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px 0px 0px 8px;
  border: none;
  margin-right: 1px;
  letter-spacing: 0.01em;
}

.signaturePopup .tab button.active {
  background: #2F7FED;
  color: #fff;
}

.signaturePopup .tab button:nth-child(2n) {
  border-radius: 0;
}

.signaturePopup .tab button:nth-child(3n) {
  border-radius: 0px 8px 8px 0px;
}

.signaturePopup .tabcontent_Sign {
  padding: 14px 0;
}


.signaturePopup .tabcontent_Sign .form-item {
  position: relative;
  margin-bottom: 30px;
}

.signaturePopup .tabcontent_Sign .form-item:last-child {
  margin-bottom: 0;
}

.signaturePopup .tabcontent_Sign .form-item textarea {
  position: relative;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  height: 178px;
  outline: none;
  background: #fff;
  border: 1px solid #D8D9DE;
  padding: 20px 18px;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;
  resize: none;
}

.signaturePopup .tabcontent_Sign .form-item textarea:invalid + label {
  font-size: 15px;
  line-height: 20px;
  color: #000;
  font-family: 'Rubik', sans-serif;
  transform: translateY(0);
}

.signaturePopup .tabcontent_Sign .form-item textarea:focus {
  border: 1px solid #DEDEDE;
}

.signaturePopup .tabcontent_Sign .form-item textarea + label {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #4E5766;
  transform: translateY(-20px);
}

.signaturePopup .tabcontent_Sign .form-item label {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 14px;
  padding: 0 10px;
  pointer-events: none;
  background: #fff;
  transition: transform 100ms ease;
  transform: translateY(-20px);
}

.signaturePopup .tabcontent_Sign .form-item textarea + label {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #4E5766;
  background-color: #fff !important;
  transform: translateY(-25px);
}

.signaturePopup .slide-tab-btn {
  display: flex;
  margin-top: 10px;
  justify-content: end;
  column-gap: 13px;
}

.signaturePopup .slide-tab-btn .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 3px;
  padding: 10px 40px;
}

.signaturePopup .slide-tab-btn .btn.clr-btn {
  border: 1px solid #858F9F;
  color: #858F9F;
  font-weight: 400;
}

.signaturePopup .slide-tab-btn .btn.save-btn {
  background: #F06B30;
  color: #fff;
  transition: all 0.3s ease;
}

.signaturePopup .slide-tab-btn .btn.clr-btn:hover {
  background: #C9CBCE;
  color: #1A2434;
}

.signaturePopup .slide-tab-btn .btn.save-btn:hover {
  background: #e75c1e;
}

.signaturePopup .secondTab-parent-class-sign .Name_upload_signature {
  background: #e7e7e7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  
}


.signaturePopup .secondTab-parent-class-sign .hide {
  display: none;
}

.signaturePopup .thirdTabSign .att-ad-brush-script {
font-family: 'Brush Script MT'!important;
  overflow: visible;
}

.signaturePopup .custome-d-flex label{
  min-width:100px;
}


.signaturePopup .secondTab-parent-class-sign .file_input_wrap {
 
 
  flex-wrap: wrap !important;
  align-items: center;
  background: #e7e7e7;
  padding: 40px;
  /* height: 101%;
  width: 167%; */
}
.initial_popup{
height: 101%;
  width: 167%;
}
.name_popup{
  height: 228px;
  
}
.choose_initial{
  max-height: 88px !important;
}
.sign_div{
  width: 850px;
  max-height: 284px;
  /* overflow: hidden auto; */
}
.signaturePopup .secondTab-parent-class-sign .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* border: 1px solid #ddd; */
  border: 1px solid #2F7FED;
  box-shadow: 2px 2px 10px #eee;
  border-radius: 4px;
  background: #2F7FED;
  max-width: 160px;
  margin-top: 8px;
}

.signaturePopup .secondTab-parent-class-sign .btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.signaturePopup .secondTab-parent-class-sign #imagePreview1 {
  /* margin: 15px 0 0 0; */
  /* border: 2px solid #ddd; */
  margin-top: 8px;
}

.signaturePopup .secondTab-parent-class-sign #imagePreview2 {
  /* margin: 15px 0 0 0; */
  /* border: 2px solid #ddd; */
  margin-top: 8px;
}

.signaturePopup .parent-tag-value-name {
  padding: 9px;
  background: #e7e7e7 !important;
  position: relative;
}
.signaturePopup .parent-tag-value-name .sign-close-icon-delete{
  position: absolute;
  right:7px;
  width:15px;
  }

.signaturePopup .sigCanvas {
  background: white;
  margin-top: 16px;
}

.sigCanvas1 {
  background: white;
  margin-top: 16px;
  /* margin-right: 20px; */
  /* width: 360px !important; */
  width: 99%;
  height: 140px !important;
}

.sigCanvas2 {
  background: white;
  margin-top: 16px;
  /* width: 230px !important; */
  width: 99%;
  height: 140px !important;
}

.signaturePopup .sign_upload_icon {
  margin: -7px 12px 0 0;
}
.popup_setting{
  /* display: flex; */
  /* justify-content: space-around; */
  width: 100%;
  position: relative;
  padding: 34px 50px;
  /* flex-wrap: wrap; */
}


@media   (min-width: 350px)  and (max-width: 470px){
  .parent_draw{
      min-width: 100px;
  }
  .sigCanvas1 {
    /* width: 100%; */
    background: white;
    margin-top: 16px;
    width:360px !important;
    height: 140px !important;
  }
  .sigCanvas2 {
    /* width: 100%; */
    background: white;
    margin-top: 16px;
    width: 230px !important;
    height: 140px !important;
  }
  .choose-align {
    margin: 0px 20px 0px 20px;
  }
  .upload-align {
    padding:14px !important;
  }
  .btn-align {
    margin-top: 0px !important;
  }
  .upload-select-file {
    width:100% !important;
  }
}
.parent_draw {
display: flex !important;
flex-wrap: wrap !important;
}

.upload_content {
/* color: #b3b3b3; */
}

@media (min-width: 300px) and (max-width: 600px) {
.row_to_colm {
  min-width: 200px;
}
.initial_popup {
  height: 101%;
  width: 149%;
}
.choose-align {
  margin: 0px 20px 0px 20px;
}
.upload-align {
  padding:14px !important;
}
.btn-align {
  margin-top: 0px !important;
}
.upload-select-file {
  width:100% !important;
}
}
/* @media (min-width: 500px) and (max-width: 991px) {
   .sigCanvas1 {
    background: white;
    margin-top: 16px;
    min-width:360px !important;
    height: 140px !important;
  }
  
  .sigCanvas2 {
    background: white;
    margin-top: 16px;
    min-width: 360px !important;
    height: 140px !important;
  }
  .sign_draw_card {
    flex-wrap: wrap;
}
} */
@media (min-width: 280px) and (max-width: 991px) {
  .sigCanvas1 {
   background: white;
   margin-top: 16px;
   width:100% !important;
   height: 140px !important;
 }
 
 .sigCanvas2 {
   background: white;
   margin-top: 16px;
   width: 100% !important;
   height: 140px !important;
 }
 .sign_draw_card {
  flex-wrap: wrap !important;
  display: inline !important;
}
.parent-tag-value-name {
margin-top: 10px
}
}
@media (min-width: 601px) and (max-width: 991px) {
.choose-align {
  margin: 0px 20px 0px 20px;
}
.upload-align {
  padding:14px !important;
}
.btn-align {
  margin-top: 0px !important;
}

}
.radio_box{
max-width: 100px;
word-break: break-all;
}

.sign_draw_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%
}
