.textCenter {
    margin-top: 20px;
    margin-left: -20px;

}
.image {
    margin-left: 10px;
    height: 100px;
    width: 185px;
    margin-top: 3px;
}
.coloradd {
    background-color: #0560FD;
    height: 60px;
}

/* .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
} */

/* .d-block {
    display: block!important;
} */

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block!important;
}

.card-align {
    padding: 65px;
    box-shadow: 0px 0px 1px 1px;
    margin-left: 10px;

}
.align {
    padding-top: 120px;
    /* font-family: 'Rubik', sans-serif; */
}
.redirect{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    /* width: 100px; */
    /* padding: 5px; */
    height: 100px;
    width: 185px;
    margin-top: 9px;
    /* margin-bottom: 4px; */
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
