.hovercolor:hover {
    background-color: rgb(212, 212, 253);

}

.topdrop {
    margin-right: 20px;
}

.form-select {
    border-radius: 30px !important;
    padding: 10px 30px;
    font-size: 11px;
    font-family: 'Rubik', sans-serif !important;
    line-height: 12px;
}

@media (max-width:767px) {
    .topdrop {
        margin-right: 6px;
    }

    .form-select {
        line-height: 1.0;
        font-size: 11px;
    }
}

@media (min-width:1220px) and (max-width:1364px) {
    .form-select {
        line-height: 1.0; 
    }
}

@media (min-width:768px) and (max-width:1224px) {
    .topdrop {
        margin-right: 8px;
    }

    .form-select {
        line-height: 1.0;
    }
}

@media (max-width:1024px) {
    .topdrop {
        margin-right: 8px;
    }

}