/* Define css class for global loading message to cover 
   screen during axios operations */
   @keyframes spinner {
    to {transform: rotate(360deg);}
  }
.loading-indicator:before {
    content: '';
    background: #1a1919cc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: 'textfield' !important
  }
.loading-indicator:after {
    content: '';
    opacity: 1;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    border-top-color: #2F7FED;
    animation: spinner .6s linear infinite;  
    z-index:99999;  
}

.divbtn{
    padding-top: 50px;
}
.close-btn {
    float: right;
    margin-top: -18px;
    margin-right: -18px;
    color:white
}
@media only screen and (max-width: 1225px){
    .close-btn {
        float: right;
        margin-top: -10px;
        margin-right: -10px;
        color:white
    }
}
.error-message {
    color:red
}
.otp_input {
    width: 55px;
    height: 60px;
}
@media screen and (max-width: 992px){
    .otp_input {
        margin: 20px 0 20px 0;
        width: 20px ;
        height: 20px;
    }
}
.flex {
    display: flex;
}
.modal-header-border-none {
  border-bottom: none !important;
}
.modal-footer-border-none {
  border-top: none !important;
}
.overflowtestdots{
    text-overflow: ellipsis;
    overflow: hidden; 
    overflow: hidden;
    width: 25%;
    white-space: nowrap;
}
.tooltip {
max-width: 500px;
}

.att-ad-brush-script{
  font-family: 'Brush Script MT'!important;
  font-weight:600;
}
.att-ad-brush-script1{
    font-family: "Brush Script MT", sans-serif !important;
    font-weight:600;
}

.att-ad-forte{
    font-family: "Forte" !important;
}
.att-ad-freestyle-script{
    font-family: "Freestyle Script", sans-serif !important;
}
.att-ad-harlow-solid-italic{
    font-family: "Harlow Solid", sans-serif !important;
}
.att-ad-blackadder-itc{
    font-family: "Blackadder ITC", sans-serif !important;
}
.att-ad-vivaldi{
font-family: "Vivaldi", sans-serif !important;
}
/* For sign Upload image consistennt  */
.resizeimgNameUpload{
    max-height: 220px;
}
.resizeimgInitialUpload{
    max-height: 220px;
}
.react-pdf__Page__textContent {
    display: none;
}
.document_prepare .react-pdf__Page__canvas {
        /* width: 100% !important;
        height: 100% !important; */
        padding: 0.5rem !important;

}
.docAgreement .doc_agreement_unauth .react-pdf__Page__canvas {
  /* width: 100% !important;
  height: 100% !important; */
  padding: 0.5rem !important;
}
.docAgreement .doc_agreement_unauth {
  /* padding: 0.5rem !important; */
}
.react-draggable {
    z-index: 2;
    border: 2px solid blue;
    border-radius: 5px;
    color: 2px solid black;
    position: relative;
    width: 20%;
    cursor: move;
}
.overflow-documents {overflow: auto; background-color: darkgray; max-height: 1000px; min-height: 1000px; scrollbar-color: #2F7FED #DFDFDF !important;scrollbar-width: thin!important;}
.overflow-documents::-webkit-scrollbar{width:6px; height: 6px;}
.overflow-documents::-webkit-scrollbar:horizontal{width:6px;}

.overflow-documents::-webkit-scrollbar-thumb:horizontal{width:6px;}
.overflow-documents::-webkit-scrollbar-track{background:#DFDFDF;border-radius:10px;}
.overflow-documents::-webkit-scrollbar-thumb{background:#2F7FED;border-radius:200px;}



.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .prepare-slide_pln .share_document .share_document_form input[type=date] {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    height: 45px;
    outline: none;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 0 18px;
    border-radius: 5px;
    position: relative;
}

.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .prepare-slide_pln .share_document .share_document_form .p-calendar {
    display: flex!important;
}
.dashboard_home.wrapper_other .main .main-content.wizard .prepare_document .prepare-slide_pln .share_document .share_document_form .p-button.p-button-icon-only {
    padding: 0.5rem!important;
}
.Superadmin-dashbord-charts-tooltip{
    background-color: "white";
    border-color : "black";
    border-style: "solid";
    border-width: 1;
    border-radius: "1%";
    font-family: "helvetica, sans-serif";
    font-size: "16px";
    padding: "5px"
}
.create-card-box-item {
cursor: pointer!important;
}
.dashboard_home.wrapper_other .main .main-content .create-card-box-item:hover span {
    color: #fff;
}
.dashboard_home.wrapper_other .main .main-content .create-card-box-item span {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.displyblock>div>div{
    display: block !important;
}
.adddropdown{
    top: 200px;
    left: 78%;
    width: 209px;
    background: #fff;
    border: 1px solid #e7e7f5;
    border-radius: 0 5px 5px 5px;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    
}
.adddropdown >ul>li:hover {
    background-color: #dedede;
  }
  .dashboard_home.wrapper_other .main .main-content .table thead .top .filter_dropdown ul li {
    line-height: 26px !important;
  } 
  .dashboard_home.wrapper_other .main .topbar .top_info .others .search input[type=text] {
    padding: 0px 15px !important;
    width:261px !important;
  }
  .dashboard_home.wrapper_other .main.grow .topbar .top_info .others .search input[type=text] {
    padding: 0px 30px !important;
    width:310px !important;
  }
  .alert_pop {
    z-index: 10000;
    position: absolute;
    width: 90%;
  }
  .alert {
    margin: 0 auto !important;
    width: 80%;

  }
  .homepagetableheader{
    font-size: 16px;
    color: #515762 !important;
    line-height: 30px;
    border-bottom:none !important;
    font-weight: 400;
  }
  /* React Datepicker input text box style it is used in managevalidity page */
  .react-datepicker__input-container
    input{
      width: 100%;
      padding: 0.375rem 2.25rem 0.375rem 0.75rem;
      -moz-padding-start: calc(0.75rem - 3px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      appearance: none;
  }
  .swal2-html-container{
    text-align: left!important;
  }
  .control_draggable {
    cursor: grabbing
  }
  /* .managestatusbutton{
    margin-right: 0px !important;
    min-width: 98px !important;
  } */
  .pdfcard >.react-pdf__Document >.react-pdf__Page >.react-pdf__Page__canvas{
    border: 1px solid #515762;
    margin: 18px ;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 180px !important ;
    height: 153px !important;
  }
  .docAgreement .overflow-documents {
    position: relative;
  }
  .form-select-border{
    border-radius: 5px !important;
  }
  .TagListelement {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .Tagelement {
    background: #4392f1;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #ffffff;
  }
  .Tagelement:not(:last-child) {
    margin-right: 8px;
  }
  .TagIconelement {
    margin-left: 12px;
    cursor: pointer;
  }
 
  .grabbing * {
    cursor: grabbing !important;
}
.docAgreement .subdocument_intial .react-pdf__Page__canvas {
  /* width: 100% !important; */
}

.docAgreement .overflow-documents {
  overflow-y: auto;
  overflow-x: auto;
}
.button_disabled {
  color: #d3d3d3 !important;
  border: 1px solid #d3d3d3 !important;
  cursor: not-allowed !important;
}
.file-upload-btn {
  background: rgb(36, 99, 209);
  border: none;
  color: #fff;
  padding: 4px 14px;
  align-self: stretch;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
.chucksum .cross_check svg {
  width: 60px;
  display: block;
  /* margin: 40px auto 0; */
}

.chucksum .cross_check .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.chucksum .cross_check .circle {
    -webkit-animation: dash 1.9s ease-in-out;
    animation: dash 1.9s ease-in-out;
    stroke: red;
  }
 .chucksum .cross_check .line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1.9s .35s ease-in-out forwards;
    animation: dash 1.9s .35s ease-in-out forwards;
    stroke: red;
  }
   
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
.close_icon {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: -1px;
  cursor: pointer;
  border: none;
}
.error-recipient-border {
  border-left: 3px solid red !important;
}
.unauth_table_align {
  text-align: initial!important;
}

.document_unauthapprove .document_area .table-responsive {
  overflow: scroll;
  scrollbar-color: #2F7FED #DFDFDF !important;
  scrollbar-width: thin !important;
  max-height: 450px;
}

.document_unauthapprove .document_area .table-responsive::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.document_unauthapprove .document_area .table-responsive::-webkit-scrollbar-track {
  background: #DFDFDF;
  border-radius: 10px;
}

.document_unauthapprove .document_area .table-responsive::-webkit-scrollbar-thumb {
  background: #2F7FED;
  border-radius: 200px;
}
.document_unauthapprove .image_zoom {
  zoom: 0.5;
-ms-zoom: 0.5;
-webkit-zoom: 0.5;
-moz-transform: scale(0.5,0.5);
}

.att-signature-icon-drag {
	background: url(/src/assets/controlimages/signature.svg) 5px 5px no-repeat, #2F7FED !important;
    width:40px;
    height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 4px 2px #ccc;
    -moz-box-shadow:    0px 2px 4px 2px #ccc;
    box-shadow:         0px 2px 4px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-initial-icon-drag{
    background: url(/src/assets/controlimages/initial.svg) 5px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-text-icon-drag{
    background: url(/src/assets/controlimages/text.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-email-icon-drag{
    background: url(/src/assets/controlimages/email.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-attachment-icon-drag{
    background: url(/src/assets/controlimages/attachment.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-date-icon-drag{
    background: url(/src/assets/controlimages/date.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-checkbox-icon-drag{
    background: url(/src/assets/controlimages/checkbox.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-company-name-icon-drag{
    background: url(/src/assets/controlimages/companyname.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-user-name-icon-drag{
    background: url(/src/assets/controlimages/username.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-digital-signature-icon-drag{
    background: url(/src/assets/controlimages/digitalsignature.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;  
    border : 2px solid #979292;
    top: -1000px; 
}
.att-user-address-icon-drag{
    background: url(/src/assets/controlimages/useraddress.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-company-address-icon-drag{
    background: url(/src/assets/controlimages/companyaddress.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-image-icon-drag{
    background: url(/src/assets/controlimages/image.svg) 7px 5px no-repeat, #2F7FED !important;	
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-dob-icon-drag{
    background: url(/src/assets/controlimages/dob.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-seal-icon-drag{
    background: url(/src/assets/controlimages/seal.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-aadhaar-icon-drag{
    background: url(/src/assets/controlimages/aadhaar.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.att-payment-icon-drag{
    background: url(/src/assets/controlimages/payment.svg) 7px 5px no-repeat, #2F7FED !important;
    width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0px 2px 9px 2px #ccc;
    -moz-box-shadow:    0px 2px 9px 2px #ccc;
    box-shadow:         0px 2px 9px 2px #ccc;
    z-index: 1000;
    border : 2px solid #979292;
    top: -1000px;
}
.medium_size_dailog .modal-content{
width: 70%;
}

@media (max-width: 380px) {
  .main-content.documentagreement ul.info.right_part {
    justify-content: center!important;
  }
  .main-content.documentagreement ul.info {
    flex-wrap: wrap;
  }
  .main-content.documentagreement .btn_reject {
    margin-top: 15px;
    padding: 10px 40px!important;

  }
}
.unaut_notary_date .p-calendar input::-webkit-input-placeholder { /* Edge */
  color: black;
}

.unaut_notary_date .p-calendar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.unaut_notary_date .p-calendar input::placeholder {
  color: black;
}
.unaut_notary_date .p-inputtext {
  color: black;
}
.recipients_content .srll-item.first-srll-item .flex_wrap_wrap {
  flex-wrap: wrap!important;
}
.dashboard_home.wrapper_other .main .main-content.wizard .recipients_scroll .bottom_sec .frt-tgl .item {
  padding-bottom:0 !important;
  padding-top:4px !important;
  padding-left: 10px!important;
}
.main-content.documentagreement .document_area .bottom_part .progress .adjust_value_bar .value__bar_md{display:block;}
.main-content.documentagreement .document_area .bottom_part .progress .adjust_value_bar span{background:#3FAB77;position:absolute;top:-32px;padding:3px 9px;right: -80px!important;font-weight:500;display:none;font-size:11px;transition:all 0.3s;border-radius:4px;}
.main-content.documentagreement .document_area .bottom_part .progress .adjust_value_bar span:after{top:100%;left:15%!important;transform:rotate(180deg);border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:transparent;border-bottom-color:#3FAB77;border-width:5px;margin-left:-5px;}
/* .only_doc_unauth .prepare-slide_pln .react-pdf__Page__textContent {display: block !important;} */

.resp-att-ad-recipient-aqua {
  background-color: #0099ff !important;
}
.resp-att-ad-recipient-medium-green {
  background-color: #a4e78f !important;
}
.resp-att-ad-recipient-medium-purple {
  background-color: #8f8be2 !important;
}
.resp-att-ad-recipient-caribbean-green {
  background-color: #9ae2d7 !important;
}
.resp-att-ad-recipient-gray {
  background-color: #f7be06 !important;
}
.resp-att-ad-recipient-light-pink {
  background-color: #ef66c2 !important;
}
.resp-att-ad-recipient-yellow {
  background-color: #f6dc53 !important;
}
.resp-att-ad-recipient-light-green {
  background-color: #d0ef9f !important;
}
.resp-att-ad-recipient-light-gold {
  background-color: #d7db87 !important;
}
.resp-att-ad-recipient-light-orange {
  background-color: #f5b77c !important;
}
.resp-att-ad-recipient-chetwode-blue-border {
  background-color: #5c55f1 !important;
}
.resp-att-ad-recipient-lusty-border {
  background-color: #7e2a2a !important;
}
.resp-att-ad-recipient-atomic-tangerine-border {
  background-color: #ff9f5e !important;
}
.resp-att-ad-recipient-geraldine-border {
  background-color: #e7756b !important;
}
.resp-att-ad-recipient-tyrian-purple-border {
  background-color: #640050 !important;
}
.resp-att-ad-recipient-golden-yellow-border {
  background-color: #f5df01 !important;
}
.resp-att-ad-recipient-deep-sky-blue-border {
  background-color: #1ccffd !important;
}
.resp-att-ad-recipient-magic-mint-border {
  background-color: #9cf8d0 !important;
}
.resp-att-ad-recipient-hacienda-border {
  background-color: #a47e0e !important;
}
.resp-att-ad-recipient-pure-blue {
  background-color: blue !important;
}

.resp-att-ad-recipient-pure-red {
  background-color: red !important;
}

.resp-att-ad-recipient-pure-yellow {
  background-color: yellow !important;
}

.resp-att-ad-recipient-pure-green {
  background-color: green !important;
}

.resp-att-ad-recipient-pure-pink {
  background-color: rgb(255, 0, 43) !important;
}

.resp-att-ad-recipient-pure-black {
  background-color: black !important;
}

.resp-att-ad-recipient-pure-purple {
  background-color: purple !important;
}

.resp-att-ad-recipient-pure-orange {
  background-color: rgb(255, 115, 0) !important;
}
.resp-att-ad-recip-pure-oliveblue {
  background-color: #00c288 !important;
}
.resp-att-ad-recipient-pure-violet {
  background-color: #9a02f1!important;
}
.resp-att-ad-recip-pure-violetred {
  background-color: #ff0597  !important;
}
.common-overflowdots {
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}
.download-btn-align {
  justify-content:space-between;
  margin-top:10px;
   display: flex;
}
.model-card-alignment {
  height: 150px;

}
@media only screen and (min-width:280px) and (max-width:500px) {
  .model-card-alignment {
    height: 140px;
  }
  .download-btn-align {
    /* justify-content:space-between; */
    margin-top:10px;
     display: block;
     text-align: center;
  }
  .redirect-align {
    margin-top:10px
  }
}
.flot_document {
  padding-top: 280px!important;
}